body {
  font-family: "微軟正黑體";
}
// nav
.menuzord-menu {
  > li {
    line-height: 100px;
    > .megamenu {
      line-height: 1;
    }
    > a {
      padding: 3px 5px;
      line-height: 1;
    }
    &:hover,
    &.active {
      > a {
        border-bottom: 1px solid #C6C6C6;
        color: #82645C;
      }
    }
  }
  .l-navbar-wrapper_has-sticky & {
    > li {
      line-height: 60px;
      > a {
        line-height: 1;
      }
    }
  }
}

// footer
#footer {
  background: #f9e7d9;
  .footer_list {
    margin: 30px 0;
  }
  h5 {
    display: inline-block;
    margin: 0;
    padding: 1px 10px;
    background: #a67f60;
    color: #fff;
  }
  h4 {
    display: inline-block;
    margin: 0;
    position: relative;
    font-size: 14px;
    color: #A67F60;
  }
  .social-link {
    clear: both;
    margin-top: 15px;
    h5 {
      margin-right: 10px;
      height: 25px;
      line-height: 22px;
      text-align: center;
      cursor: pointer;
      transition: .5s;
      &:hover {
        background: #c5b4a9;
      }
    }
    a {
      color: #fff;
    }
  }
  @media screen and (min-width: 1200px) {
    h5 {
      & + h4 {
        margin-right: 30px;
      }
    }
    .social-link {
      margin: 0;
    }
  }
  @media screen and (min-width: 992px) {
    a[href*="tel:"],
    a:hover {
      color: #A67F60;
      cursor: default;
    }
    h4 {
      &:before {
        content: "：";
      }
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    h5 {
      & + h4 {
        margin-right: 5px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    // .footer_list {
    //   text-align: center;
    // }
    h4 {
      display: block;
      margin: 5px 0 15px;
    }
  }
}
.secondary-footer {
  text-align: center;
  font-size: 12px;
  color: #a67f60;
}

// layout of content
.page-title {
  background: none;
  .container {
    text-align: center;
  }
  h4 {
    display: inline-block;
    border-bottom: 1px solid #A48B78;
  }
}

// pages
.pages_area {
  margin: 10px 0 20px;
  text-align: center;
  font-size: 16px;
  .arrow {
    margin: 0 10px;
    a {
      color: #6A3906
    }
  }
  .page_list {
    display: inline-block;
    a {
      color: #6A3906;
      &:after {
        content: "|";
        position: relative;
        top: -2px;
        margin: 0 3px 0 5px;
        font-size: 12px;
        font-weight: bold;
      }
      &:last-child:after {
        display: none;
      }
      &:hover {
        border-bottom: 1px solid #C6C6C6;
      }
      &.active {
        font-weight: bold;
      }
    }
  }
}

// index
.section_line {
  width: 100%;
  height: 15px;
  background: #906842;
}
.logo_menu_area {
  display: flex;
  margin: 30px auto 50px;
  width: 50%;
  line-height: 100px;
  .logo {
    position: relative;
    width: 200px;
    &:before {
      content: "";
      position: absolute;
      right: -25px;
      width: 1px;
      height: 100px;
      background: #959595;
    }
    img {
      max-width: 100%;
    }
  }
  .menu {
    margin-left: 50px;
  }
  a {
    color: #424242;
    .text-uppercase {
      letter-spacing: 1px;
    }
  }
  @media screen and (max-width: 991px) {
    display: block;
    line-height: 1;
    .logo {
      padding-bottom: 10px;
      width: 100%;
      &:before {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
      }
    }
    .menu {
      float: left;
      margin: 30px 0 0;
      width: 33.3%;
    }
  }
  @media screen and (max-width: 480px) {
    .menu {
      float: none;
      margin: 20px 0 0;
      width: 100%;
    }
  }
}
.introduce_area {
  padding: 30px 0;
  background: #f2f2f2;
  h4 {
    margin-bottom: 10px;
    font-size: 22px;
  }
  h5 {
    margin: 0;
    font-size: 14px;
  }
  .btn {
    margin-top: 15px;
    padding: 5px 20px;
    background: #906842;
    color: #fff;
  }
}
.post-parallax {
  background-position: left top;
  background-size: 50% auto;
  background-image: url("../images/index/img_smoke.jpg");
  .section_title {
    h4 {
        display: inline-block;
        padding: 0 3px;
        border-bottom: 3px solid #9f9f9f;
        font-size: 20px;
        color: #303030;
    }
  }
  .section_text {
    position: relative;
    padding: 0 50px;
  }
  .orange-overlay {
    top: -1px;
    right: 1px;
    display: block;
    width: 100%;
    height: 101%;
    background: rgba(248, 230, 216, 1);
    &:before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -10px;
      width: 80%;
      height: 20px;
      background: #906842;
    }
  }
  @media screen and (max-width: 767px) {
    background-size: 100% auto;
    .section_title {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .section_text {
      margin-top: 100px;
    }
    .orange-overlay {
      width: 100%;
      background: rgba(248, 230, 216, .5);
    }
  }
}
.section_lesson {
  margin: 0 auto 30px;
  width: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/index/section_lesson.png");
  img {
    width: 100%;
  }
}
.lesson_box {
  .lesson_img {
    border: 1px solid #7C6450;
    box-shadow: -3px -3px 0 #7C6450;
  }
  .btn {
    padding: 10px 30px;
    background: #906842;
    font-size: 18px;
    color: #fff;
  }
}
.group_area {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/index/img_pen.jpg");
}

// news list
.portfolio-with-title.blog-m {
  .portfolio-item {
    .portfolio-title {
      h4 {
        padding: 3px 5px;
        background: #fef4ef;
        color: #939292;
        a {
          text-transform: capitalize;
        }
      }
      .icon_new {
        margin-right: 5px;
      }
      .date {
        font-size: 16px;
        color: #A29E9F;
      }
    }
    &:nth-child(odd) {
      .portfolio-title {
        h4 {
          text-align: right;
        }
      }
    }
    &:nth-child(even) {
      .portfolio-title {
        text-align: right;
        h4 {
          text-align: left;
        }
      }
    }
  }
}

// news content
.blog-classic {
  p {
    color: #727171;
  }
  .blog-post {
    .post_content {
      margin: 0 auto;
      width: 80%;
    }
    .full-width {
      margin-bottom: 0;
    }
  }
  .post-meta {
    li {
      margin: 5px 0 0;
      font-weight: bold;
      color: #727171;
    }
  }
}

// case list
.portfolio-item {
  .portfolio-hover {
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: 0;
  }
  &:hover {
    .portfolio-hover {
      .portfolio-description {
        top: 50%;
        bottom: auto;
        margin-bottom: 20px;
      }
    }
  }
}
.portfolio-description {
  h4 {
    font-size: 32px;
    font-weight: bold;
    color: #8D5747;
  }
}
.notice {
  text-align: center;
  &:before {
    content: "";
    margin: 25px 20%;
    display: block;
    height: 3px;
    background: #eddbd7;
  }
  p {
    display: inline-block;
    padding: 15px 50px;
    background: #f7f2ef;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #896958;
  }
}
