@charset "UTF-8";
body,
.tab-content {
  font-family: "微軟正黑體"; }

* {
  word-break: break-all; }

p {
  margin: 0; }

.container-fluid {
  font-family: "標楷體"; }
  @media screen and (min-width: 1200px) {
    .container-fluid .menuzord-menu > li {
      margin-left: 10px; }
      .container-fluid .menuzord-menu > li > a {
        font-size: 22px; } }
  @media screen and (min-width: 769px) and (max-width: 991px) {
    .container-fluid .logo-brand {
      max-height: 80px; }
    .container-fluid .menuzord-menu > li {
      margin-left: 0; }
      .container-fluid .menuzord-menu > li > a {
        padding: 3px;
        font-size: 15px; } }

.menuzord-menu > li {
  line-height: 100px; }
  .menuzord-menu > li > .megamenu {
    line-height: 1; }
  .menuzord-menu > li > a {
    padding: 3px 5px;
    line-height: 1;
    font-size: 18px; }
  .menuzord-menu > li:hover > a, .menuzord-menu > li.active > a {
    color: #82645C; }
    @media screen and (min-width: 769px) {
      .menuzord-menu > li:hover > a, .menuzord-menu > li.active > a {
        border-bottom: 1px solid #C6C6C6; } }

.l-navbar-wrapper_has-sticky .menuzord-menu > li {
  line-height: 60px; }
  .l-navbar-wrapper_has-sticky .menuzord-menu > li > a {
    line-height: 1; }

#footer {
  background: #f9e7d9; }
  #footer .footer_list {
    margin: 30px 0; }
  #footer h5 {
    display: inline-block;
    margin: 0;
    padding: 1px 10px;
    background: #a67f60;
    color: #fff; }
  #footer h4 {
    display: inline-block;
    margin: 0;
    position: relative;
    font-size: 13px;
    color: #A67F60; }
  #footer .social-link {
    clear: both;
    margin-top: 15px; }
    #footer .social-link h5 {
      margin-right: 10px;
      height: 25px;
      line-height: 22px;
      text-align: center;
      cursor: pointer;
      transition: .5s; }
      #footer .social-link h5:hover {
        background: #c5b4a9; }
    #footer .social-link a {
      color: #fff; }
  #footer .fixed_icon {
    position: fixed;
    top: 40%;
    right: 10px; }
    #footer .fixed_icon .icon-line {
      display: block;
      width: 41px;
      height: 42px;
      background-repeat: no-repeat;
      background-image: url("../images/icon_line.png");
      cursor: pointer; }
  @media screen and (min-width: 1200px) {
    #footer h5 + h4 {
      margin-right: 30px; }
    #footer .social-link {
      margin: 0; } }
  @media screen and (min-width: 992px) {
    #footer a[href*="tel:"],
    #footer a:hover {
      color: #A67F60;
      cursor: default; }
    #footer h4:before {
      content: "："; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    #footer h5 + h4 {
      margin-right: 5px; } }
  @media screen and (max-width: 991px) {
    #footer h4 {
      display: block;
      margin: 5px 0 15px; } }

.page-title {
  background: none; }
  .page-title .container {
    text-align: center; }
  .page-title h4 {
    display: inline-block;
    padding: 2px 25px;
    border-bottom: 1px solid #A48B78; }

.pagination.custom-pagination > li a {
  margin: 0;
  background: none;
  border: 0;
  color: #6A3906; }

.pagination.custom-pagination > li:after {
  content: "|";
  float: left;
  position: relative;
  top: 0;
  font-size: 20px;
  font-weight: bold; }

.pagination.custom-pagination > li:nth-last-child(2):after {
  display: none; }

.pagination.custom-pagination > li.active > a {
  background: none;
  font-weight: bold;
  color: inherit; }

.pagination.custom-pagination > li.active:hover > a {
  background: none;
  font-weight: bold;
  color: inherit; }

.pagination.custom-pagination .arrow a {
  float: left;
  padding: 5px;
  color: #6A3906; }

.img_smoke {
  position: absolute;
  right: 0;
  bottom: -33px;
  max-width: 30%; }
  .img_smoke img {
    width: 100%; }

.section_crosswalk {
  height: 33px;
  background-repeat: repeat;
  background-image: url("../images/line.png"); }

.section_line {
  width: 100%;
  height: 15px;
  background: #906842; }

.logo_menu_area {
  display: flex;
  margin: 30px auto 50px;
  width: 50%;
  line-height: 100px; }
  @media screen and (min-width: 481px) and (max-width: 991px) {
    .logo_menu_area {
      margin-bottom: 100px; } }
  .logo_menu_area .logo {
    position: relative;
    width: 200px; }
    .logo_menu_area .logo:before {
      content: "";
      position: absolute;
      right: -25px;
      width: 1px;
      height: 100px;
      background: #959595; }
    .logo_menu_area .logo img {
      max-width: 100%; }
  .logo_menu_area .menu {
    margin-left: 50px; }
  .logo_menu_area a {
    color: #424242; }
    .logo_menu_area a .text-uppercase {
      letter-spacing: 1px; }
  @media screen and (max-width: 991px) {
    .logo_menu_area {
      display: block;
      line-height: 1; }
      .logo_menu_area .logo {
        padding-bottom: 10px;
        width: 100%; }
        .logo_menu_area .logo:before {
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1px; }
      .logo_menu_area .menu {
        float: left;
        margin: 30px 0 0;
        width: 33.3%; } }
  @media screen and (max-width: 480px) {
    .logo_menu_area .menu {
      float: none;
      margin: 20px 0 0;
      width: 100%; } }

.introduce_area {
  padding: 30px 0;
  background: #f2f2f2; }
  .introduce_area h4 {
    margin-bottom: 10px;
    font-size: 22px; }
  .introduce_area h5 {
    margin: 0;
    font-size: 14px; }
  .introduce_area .btn {
    margin-top: 15px;
    padding: 5px 20px;
    background: #906842;
    color: #fff; }

.post-parallax {
  background-position: left top;
  background-size: 50% auto;
  background-image: url("../images/index/img_smoke.jpg"); }
  @media screen and (max-width: 767px) {
    .post-parallax .section_title {
      margin-top: 10px; } }
  .post-parallax .section_text {
    position: relative;
    padding: 0 40px;
    font-family: "標楷體"; }
    .post-parallax .section_text h4 {
      font-size: 21px; }
    .post-parallax .section_text p {
      line-height: 26px;
      font-size: 16px; }
  .post-parallax .orange-overlay {
    top: -1px;
    right: 1px;
    display: block;
    width: 100%;
    height: 101%;
    background: #f8e6d8; }
    .post-parallax .orange-overlay:before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -10px;
      width: 80%;
      height: 20px;
      background: #906842; }
  .post-parallax .section_title {
    transform: translate(-50%, 0); }
  @media screen and (max-width: 767px) {
    .post-parallax {
      background-size: 100% auto; }
      .post-parallax .section_title {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0); }
      .post-parallax .section_text {
        margin-top: 100px; }
      .post-parallax .orange-overlay {
        width: 100%;
        background: rgba(248, 230, 216, 0.5); } }

.section_lesson {
  margin: 0 auto 30px;
  width: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/index/section_lesson.png"); }
  .section_lesson img {
    width: 100%; }

.lesson_box + .lesson_box {
  border-left: 1px solid #D3D3D3; }

.lesson_box .lesson_img img {
  border: 1px solid #7C6450;
  box-shadow: -3px -3px 0 #7C6450; }

.lesson_box .btn {
  padding: 10px 30px;
  background: #906842;
  font-size: 18px;
  color: #fff; }

.group_area {
  display: block;
  position: relative;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url("../images/index/img_pen.jpg");
  background-color: #fdfdff; }
  .group_area .group_box h3 {
    position: relative;
    margin-bottom: 80px;
    font-size: 26px; }
    .group_area .group_box h3 span {
      margin-left: 10px;
      font-size: 18px; }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .group_area .group_box h3 span {
          margin: 0;
          padding: 0; } }
    .group_area .group_box h3:before {
      content: "";
      position: absolute;
      bottom: -40px;
      width: 50px;
      height: 2px;
      background: #a6a6a6; }
  .group_area .group_box img {
    max-width: 100%; }
  .group_area .group_box ul {
    padding: 0 25px;
    list-style: none;
    text-align: left;
    line-height: 2;
    font-size: 20px; }
    @media screen and (max-width: 991px) {
      .group_area .group_box ul {
        text-align: center; } }
    .group_area .group_box ul:before {
      content: attr(data-tit); }
  .group_area .group_box .btn_more {
    font-size: 16px;
    color: #000; }
  .group_area .white-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: rgba(255, 255, 255, 0.5); }

.portfolio-with-title.blog-m .portfolio-item .portfolio-title h4 {
  padding: 3px 5px;
  background: #fef4ef;
  color: #939292; }
  .portfolio-with-title.blog-m .portfolio-item .portfolio-title h4 a {
    text-transform: capitalize; }

.portfolio-with-title.blog-m .portfolio-item .portfolio-title .icon_new {
  margin-right: 5px; }

.portfolio-with-title.blog-m .portfolio-item .portfolio-title .date {
  font-size: 16px;
  color: #A29E9F; }

.portfolio-with-title.blog-m .portfolio-item:nth-child(odd) .portfolio-title h4 {
  text-align: right; }

.portfolio-with-title.blog-m .portfolio-item:nth-child(even) .portfolio-title {
  text-align: right; }
  .portfolio-with-title.blog-m .portfolio-item:nth-child(even) .portfolio-title h4 {
    text-align: left; }

.blog-classic {
  border: 0; }
  .blog-classic p {
    color: #727171; }
  .blog-classic .blog-post .post_content {
    margin: 0 auto;
    width: 80%; }
  .blog-classic .blog-post .full-width {
    margin-bottom: 0; }
  .blog-classic .post-meta li {
    margin: 10px 0 0;
    font-size: 15px;
    font-weight: bold;
    color: #727171; }

.case_area:before {
  content: "";
  position: absolute;
  top: -80px;
  left: 50%;
  width: 100px;
  border-top: 3px solid #906842;
  transform: translate(-50%, 0); }

.case_area .portfolio-item {
  margin-bottom: 20px;
  padding: 20px; }
  .case_area .portfolio-item .portfolio-hover {
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: 0; }
  .case_area .portfolio-item:hover .portfolio-hover .portfolio-description {
    top: 50%;
    bottom: auto;
    margin-bottom: 20px; }

.case_area .portfolio-description h4 {
  font-size: 32px;
  font-weight: bold;
  color: #8D5747; }

.notice {
  text-align: center; }
  .notice:before {
    content: "";
    margin: 25px 20%;
    display: block;
    height: 3px;
    background: #eddbd7; }
  .notice p {
    display: inline-block;
    padding: 15px 50px;
    background: #f7f2ef;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #896958; }

.portfolio-filter {
  font-family: "標楷體"; }
  .portfolio-filter li {
    margin: 0 10px;
    line-height: 1; }
    .portfolio-filter li a {
      margin: 0;
      font-size: 16px; }
    .portfolio-filter li.active:before {
      content: "["; }
    .portfolio-filter li.active:after {
      content: "]"; }

.class_video {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  text-align: center; }
  .class_video iframe {
    width: 560px;
    height: 315px;
    max-width: 100%;
    max-height: 100%; }

.class_area {
  margin-top: 400px;
  padding: 50px 20px 0;
  background: #f2f2f2;
  overflow: visible; }
  .class_area .class_menu_area {
    position: absolute;
    top: -380px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0); }
    .class_area .class_menu_area:before {
      content: "";
      position: absolute;
      top: -30px;
      left: 50%;
      width: 100px;
      border-top: 3px solid #906842;
      transform: translate(-50%, 0); }
  .class_area .portfolio h3 {
    margin-top: -70px;
    padding: 0 20px;
    font-size: 32px; }
  .class_area .portfolio .txt_box {
    position: relative;
    background: #fff;
    border-bottom: 5px solid #8F6844; }
    .class_area .portfolio .txt_box .number {
      position: absolute;
      top: -10px;
      left: 10px;
      padding: 3px;
      min-width: 40px;
      height: 40px;
      background: #906843;
      border: 2px solid #fff;
      border-radius: 50%;
      text-align: center;
      font: normal bold 20px/30px arial, serif;
      color: #fff; }
    .class_area .portfolio .txt_box h2 {
      padding: 10px 0; }
  @media screen and (max-width: 768px) {
    .class_area {
      margin-top: 500px; } }

.class_content_video {
  margin: 30px 0;
  text-align: center; }
  .class_content_video iframe {
    width: 560px;
    height: 315px;
    max-width: 100%;
    max-height: 100%; }

.class_content_area .normal-tabs {
  margin: 0 30px;
  width: 100%; }

.class_content_area ul.nav-tabs {
  display: flex;
  padding: 2px 10px;
  border: 0;
  border-top: 3px solid #BD9685; }
  .class_content_area ul.nav-tabs > li {
    flex: 1;
    background: #FDF0EC;
    text-align: center; }
    .class_content_area ul.nav-tabs > li.active a {
      background: #FDF0EC;
      border: 0;
      font-weight: bold;
      color: #6B625F; }
    .class_content_area ul.nav-tabs > li > a {
      background: #FDF0EC;
      border: 0;
      font-size: 16px;
      color: #B18A6E; }
      .class_content_area ul.nav-tabs > li > a:hover, .class_content_area ul.nav-tabs > li > a:focus {
        background: #FDF0EC;
        border: 0;
        font-weight: bold;
        color: #6B625F; }

.class_content_area .tab-content h4.class_content_tit {
  text-align: center;
  color: #fff; }
  .class_content_area .tab-content h4.class_content_tit span {
    padding: 5px 30px;
    background: #C8B8AF; }

.class_content_area .tab-content .class_content_desc {
  margin: 30px 0; }

.class_content_area .class_info_area {
  overflow: hidden; }
  .class_content_area .class_info_area * {
    max-width: 100%; }

.class_content_area .class_product_area .class_product_img img {
  max-width: 100%; }

.class_content_area .class_product_area .class_product_txt .class_product_name {
  margin: 10px 0 0; }

.class_content_area .class_product_area .class_product_txt .class_product_sub {
  margin: 0; }

.class_content_area .class_product_box {
  padding-bottom: 30px;
  border-bottom: 2px solid #EEEDEE; }
  .class_content_area .class_product_box + .class_product_box {
    margin-top: 30px; }

.line-dot-line {
  position: relative;
  margin: 30px 0 60px;
  border-top: 1px solid #B0B0B1; }
  .line-dot-line:before {
    content: "•";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 10px;
    background: #fff;
    line-height: .3;
    text-align: center;
    font-size: 25px;
    color: #B0B0B1; }

.category_area .product-list {
  min-height: auto; }

.category_area .product-title h5 {
  font-size: 18px;
  font-weight: normal; }

.category_area .product-price {
  font-size: 14px; }
  .category_area .product-price .o_price,
  .category_area .product-price .s_price {
    letter-spacing: 3px; }
    .category_area .product-price .o_price + .o_price,
    .category_area .product-price .o_price + .s_price,
    .category_area .product-price .s_price + .o_price,
    .category_area .product-price .s_price + .s_price {
      margin-left: 15px; }

.category_area:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  border-top: 3px solid #906842;
  transform: translate(-50%, 0); }

.product_area .post-slider-thumb .flex-control-thumbs {
  text-align: center; }
  .product_area .post-slider-thumb .flex-control-thumbs li {
    position: relative;
    margin: 0 10px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    background: #E3E2E5;
    border-radius: 50%;
    list-style-type: none; }
    .product_area .post-slider-thumb .flex-control-thumbs li:before {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 30px;
      background: #fff; }
    .product_area .post-slider-thumb .flex-control-thumbs li:nth-child(odd):before {
      top: auto;
      bottom: -1px; }
    .product_area .post-slider-thumb .flex-control-thumbs li:nth-child(2), .product_area .post-slider-thumb .flex-control-thumbs li:nth-last-child(2) {
      background: #816E55; }
      .product_area .post-slider-thumb .flex-control-thumbs li:nth-child(2) img, .product_area .post-slider-thumb .flex-control-thumbs li:nth-last-child(2) img {
        bottom: 0; }
    .product_area .post-slider-thumb .flex-control-thumbs li:nth-child(3), .product_area .post-slider-thumb .flex-control-thumbs li:nth-last-child(1) {
      background: #F8E2D5; }
    .product_area .post-slider-thumb .flex-control-thumbs li img {
      width: 104%;
      margin: -2%;
      border: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0); }

.product_area .product-title {
  color: #817259; }

.product_area .product_desc {
  margin-bottom: 20px; }
  .product_area .product_desc .tit {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #817259; }

.product_area .product_spec {
  padding-left: 15px;
  list-style: none; }
  .product_area .product_spec li {
    margin-bottom: 5px;
    text-indent: -15px; }
    .product_area .product_spec li:before {
      content: "•";
      margin-right: 5px;
      font-size: 20px;
      color: #F7E5D7; }

.product_area .product_info_area {
  margin: 20px 0;
  overflow: hidden; }
  .product_area .product_info_area * {
    max-width: 100%; }
  .product_area .product_info_area .product-price {
    font-weight: bold;
    color: #817259; }
    .product_area .product_info_area .product-price .o_price,
    .product_area .product_info_area .product-price .s_price {
      letter-spacing: 3px; }
      .product_area .product_info_area .product-price .o_price + .o_price,
      .product_area .product_info_area .product-price .o_price + .s_price,
      .product_area .product_info_area .product-price .s_price + .o_price,
      .product_area .product_info_area .product-price .s_price + .s_price {
        margin-left: 15px; }

.product_area .normal-tabs ul.nav-tabs {
  padding-left: 70px; }
  .product_area .normal-tabs ul.nav-tabs > li > a {
    padding: 12px 30px;
    letter-spacing: 5px; }

.product_area:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  border-top: 3px solid #906842;
  transform: translate(-50%, 0); }
