body,
.tab-content {
  font-family: "微軟正黑體";
}
* {
  word-break: break-all;
}
p {
  margin: 0;
}
// nav
.container-fluid {
  font-family: "標楷體";
  @media screen and (min-width: 1200px) {
    // width: 1168px;
    .menuzord-menu {
      > li {
        margin-left: 10px;
        > a {
          font-size: 22px;
        }
      }
    }
  }
  .logo-brand {
    font-weight: normal;
    h3 {
      display: inline;
      font-size: 21px;
    }
    .icon-calendar {
      vertical-align: middle;
      font-weight: bold;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 991px) {
    .logo-brand {
      max-height: 80px;
      h3 {
        font-size: 16px;
      }
    }
    .menuzord-menu {
      > li {
        margin-left: 0;
        > a {
          padding: 3px;
          font-size: 15px;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .logo-brand {
      h3 {
        font-size: 0;
      }
      .icon-calendar {
        font-size: 21px;
        position: relative;
        top: -5px;
      }
    }
  }
}
.menuzord-menu {
  > li {
    // margin-left: 5px;
    line-height: 100px;
    > .megamenu {
      line-height: 1;
    }
    > a {
      padding: 3px 5px;
      line-height: 1;
      font-size: 18px;
    }
    &:hover,
    &.active {
      > a {
        color: #82645C;
        @media screen and (min-width: 769px) {
          border-bottom: 1px solid #C6C6C6;
        }
      }
    }
  }
  .l-navbar-wrapper_has-sticky & {
    > li {
      line-height: 60px;
      > a {
        line-height: 1;
      }
    }
  }
}

// footer
#footer {
  background: #f9e7d9;
  .footer_list {
    margin: 30px 0;
  }
  h5 {
    display: inline-block;
    margin: 0;
    padding: 1px 10px;
    background: #a67f60;
    color: #fff;
  }
  h4 {
    display: inline-block;
    margin: 0;
    position: relative;
    font-size: 13px;
    color: #A67F60;
  }
  .social-link {
    clear: both;
    margin-top: 15px;
    h5 {
      margin-right: 10px;
      height: 25px;
      line-height: 22px;
      text-align: center;
      cursor: pointer;
      transition: .5s;
      &:hover {
        background: #c5b4a9;
      }
    }
    a {
      color: #fff;
    }
  }
  .fixed_icon {
    position: fixed;
    top: 40%;
    right: 10px;
    .icon-line {
      display: block;
      width: 41px;
      height: 42px;
      background-repeat: no-repeat;
      background-image: url("../images/icon_line.png");
      cursor: pointer;
    }
  }
  @media screen and (min-width: 1200px) {
    h5 {
      & + h4 {
        margin-right: 30px;
      }
    }
    .social-link {
      margin: 0;
    }
  }
  @media screen and (min-width: 992px) {
    a[href*="tel:"],
    a:hover {
      color: #A67F60;
      cursor: default;
    }
    h4 {
      &:before {
        content: "：";
      }
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    h5 {
      & + h4 {
        margin-right: 5px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    // .footer_list {
    //   text-align: center;
    // }
    h4 {
      display: block;
      margin: 5px 0 15px;
    }
  }
}

// layout of content
.page-title {
  background: none;
  .container {
    text-align: center;
  }
  h4 {
    display: inline-block;
    padding: 2px 25px;
    border-bottom: 1px solid #A48B78;
  }
}

// pagination
.pagination {
  &.custom-pagination {
    > li {
      a {
        margin: 0;
        background: none;
        border: 0;
        color: #6A3906;
      }
      &:after {
        content: "|";
        float: left;
        position: relative;
        top: 0;
        font-size: 20px;
        font-weight: bold;
      }
      &:nth-last-child(2):after {
        display: none;
      }
      &:hover {
        > a {
          // background: none;
          // border-bottom: 1px solid #C6C6C6;
        }
      }
      &.active {
          > a {
            background: none;
            font-weight: bold;
            color: #6A3906;
          }
          &:hover {
            > a {
              background: none;
              font-weight: bold;
              color: #6A3906;
            }
          }
      }
    }
    .arrow {
      a {
        float: left;
        padding: 5px;
        color: #6A3906
      }
    }
  }
}

// index
.img_smoke {
  position: absolute;
  right: 0;
  bottom: -33px;
  max-width: 30%;
  img {
    width: 100%;
  }
}
.section_crosswalk {
  height: 33px;
  background-repeat: repeat;
  background-image: url("../images/line.png");
}
.section_line {
  width: 100%;
  height: 15px;
  background: #906842;
}
.logo_menu_area {
  display: flex;
  margin: 30px auto 50px;
  width: 50%;
  line-height: 100px;
  @media screen and (min-width: 481px) and (max-width: 991px) {
    margin-bottom: 100px;
  }
  .logo {
    position: relative;
    width: 200px;
    &:before {
      content: "";
      position: absolute;
      right: -25px;
      width: 1px;
      height: 100px;
      background: #959595;
    }
    img {
      max-width: 100%;
    }
  }
  .menu {
    margin-left: 50px;
  }
  a {
    color: #424242;
    .text-uppercase {
      letter-spacing: 1px;
    }
  }
  @media screen and (max-width: 991px) {
    display: block;
    line-height: 1;
    .logo {
      padding-bottom: 10px;
      width: 100%;
      &:before {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
      }
    }
    .menu {
      float: left;
      margin: 30px 0 0;
      width: 33.3%;
    }
  }
  @media screen and (max-width: 480px) {
    .menu {
      float: none;
      margin: 20px 0 0;
      width: 100%;
    }
  }
}
.introduce_area {
  padding: 30px 0;
  background: #f2f2f2;
  h4 {
    margin-bottom: 10px;
    font-size: 22px;
  }
  h5 {
    margin: 0;
    font-size: 14px;
  }
  .btn {
    margin-top: 15px;
    padding: 5px 20px;
    background: #906842;
    color: #fff;
  }
}
.post-parallax {
  background-position: left top;
  background-size: 50% auto;
  background-image: url("../images/index/img_smoke.jpg");
  .section_title {
    @media screen and (max-width: 767px) {
      margin-top: 10px;
    }
    h4 {
        // display: inline-block;
        // padding: 0 3px;
        // border-bottom: 3px solid #9f9f9f;
        // font-size: 20px;
        // color: #303030;
    }
  }
  .section_text {
    position: relative;
    padding: 0 40px;
    font-family: "標楷體";
    h4 {
      font-size: 21px;
    }
    p {
      line-height: 26px;
      font-size: 16px;
      
    }
  }
  .orange-overlay {
    top: -1px;
    right: 1px;
    display: block;
    width: 100%;
    height: 101%;
    background: rgba(248, 230, 216, 1);
    &:before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -10px;
      width: 80%;
      height: 20px;
      background: #906842;
    }
  }
  .section_title {
    transform: translate(-50%, 0);
  }
  @media screen and (max-width: 767px) {
    background-size: 100% auto;
    .section_title {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .section_text {
      margin-top: 100px;
    }
    .orange-overlay {
      width: 100%;
      background: rgba(248, 230, 216, .5);
    }
  }
}
.section_lesson {
  margin: 0 auto 30px;
  width: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/index/section_lesson.png");
  img {
    width: 100%;
  }
}
.lesson_box {
  + .lesson_box {
    border-left: 1px solid #D3D3D3;
  }
  .lesson_img {
    img {
      border: 1px solid #7C6450;
      box-shadow: -3px -3px 0 #7C6450;
    }
  }
  .btn {
    padding: 10px 30px;
    background: #906842;
    font-size: 18px;
    color: #fff;
  }
}
.group_area {
  display: block;
  position: relative;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url("../images/index/img_pen.jpg");
  background-color: #fdfdff;
  .group_box {
    h3 {
      position: relative;
      margin-bottom: 80px;
      font-size: 26px;
      span {
        margin-left: 10px;
        font-size: 18px;
        &.eng_name {}
        @media screen and (min-width: 768px) and (max-width: 991px) {
          margin: 0;
          padding: 0;
        }
      }
      &:before {
        content: "";
        position: absolute;
        bottom: -40px;
        width: 50px;
        height: 2px;
        background: #a6a6a6;
      }
    }
    img {
      max-width: 100%;
    }
    ul {
      padding: 0 25px;
      list-style: none;
      text-align: left;
      line-height: 2;
      font-size: 20px;
      @media screen and (max-width: 991px) {
        text-align: center;
      }
      &:before {
        content: attr(data-tit);
      }
    }
    .btn_more {
      font-size: 16px;
      color: #000;
    }
  }
  .white-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: rgba(255, 255, 255, .5);
    @media screen and (max-width: 991px) {
    }
  }
}

// news list
.portfolio-with-title.blog-m {
  .portfolio-item {
    .portfolio-title {
      h4 {
        padding: 3px 5px;
        background: #fef4ef;
        color: #939292;
        a {
          text-transform: capitalize;
        }
      }
      // .icon_new {
      //   margin-right: 5px;
      // }
      .date {
        letter-spacing: 3px;
        font-size: 16px;
        color: #A29E9F;
      }
    }
    &:nth-child(odd) {
      .portfolio-title {
        h4 {
          text-align: right;
        }
      }
    }
    &:nth-child(even) {
      .portfolio-title {
        text-align: right;
        h4 {
          text-align: left;
        }
      }
    }
    &:first-child {
      .portfolio-title {
        h4 {
          &:before {
            content: "";
            display: inline-block;
            margin-right: 5px;
            width: 23px;
            height: 23px;
            background-image: url("../images/news/icon_new.svg");
            background-size: cover;
            vertical-align: bottom;
          }
        }
      }
    }
  }
}

// news content
.news_content_area {
  border: 0;
  p {
    color: #727171;
  }
  .blog-post {
    .post_content {
      margin: 0 auto;
      width: 80%;
      * {
        max-width: 100%;
      }
    }
    .full-width {
      margin-bottom: 0;
    }
  }
  .post-meta {
    li {
      margin: 10px 0 0;
      font-size: 15px;
      font-weight: bold;
      color: #727171;
    }
  }
}

// case list
.case_area {
  &:before {
    content: "";
    position: absolute;
    top: -80px;
    left: 50%;
    width: 100px;
    border-top: 3px solid #906842;
    transform: translate(-50%, 0);
  }
  .portfolio-item {
    margin-bottom: 20px;
    padding: 20px;
    .portfolio-hover {
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
      border: 0;
    }
    &:hover {
      .portfolio-hover {
        .portfolio-description {
          top: 50%;
          bottom: auto;
          margin-bottom: 20px;
        }
      }
    }
  }
  .portfolio-description {
    h4 {
      font-size: 32px;
      font-weight: bold;
      color: #8D5747;
    }
  }
}
.notice {
  text-align: center;
  &:before {
    content: "";
    margin: 25px 20%;
    display: block;
    height: 3px;
    background: #eddbd7;
  }
  p {
    display: inline-block;
    padding: 15px 50px;
    background: #f7f2ef;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #896958;
  }
}

// case content
.case_content_area {
  .tab-parallax {
    background: none;
  }
  .icon-box-tabs {
    font-family: "微軟正黑體";
    .nav-pills {
      display: flex;
      li,
      li.active {
        display: -webkit-box;
        flex: 1;
        margin: 0;
        a {
          padding: 30px 10px;
          background: none;
          text-align: center;
          font-size: 18px;
          color: #898989;
          &:after {
            bottom: 0;
            border: 0;
            margin-left: -35px;
            width: 70px;
            height: 30px;
            // border-width: 0 10px 10px 10px;
            // border-color: transparent transparent#f1f1f1  transparent;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("../images/case/arrow_circle.svg");
          }
        }
        .text_overflow {
          -webkit-line-clamp: 1;
          line-height: 1.5;
        }
        @media screen and (max-width: 767px) {
          a {
            font-size: 16px;
          }
          .text_overflow {
            -webkit-line-clamp: 2;
          }
        }
        @media screen and (max-width: 480px) {
          a {
            font-size: 14px;
          }
          .text_overflow {
            -webkit-line-clamp: 3;
          }
        }
      }
      li.active {
        a {
          font-weight: bold;
          color: #58433A;
        }
      }
    }
  }
  .tab-content {
    position: relative;
    background: #f6e3d5;
    border-bottom: 3px solid #D4B7AB;
    // color: #886958;
    .heading-title-alt {
      h3 {
        color: #886958;
        font-weight: bold;
      }
    }
    .spec_list {
      margin: 0 auto;
      padding: 0;
      width: 60%;
      list-style: none;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      color: #896958;
      li {
        + li {
          padding-top: 30px;
          border-top: 2px solid #D5B8AB;
        }
      }
      .tit {
        > h6 {
          margin-bottom: 10px;
          padding: 10px 0 ;
          background: #D5B7AB;
          font-size: 18px;
          font-weight: bold;
          color: #654D44;
        }
      }
      .icon {
        i {
          display: block;
          margin: 0 auto;
          width: 40px;
          height: 40px;
          background-size: contain;
        }
        i.icon-time {
          background-image: url("../images/case/time.svg");
        }
        i.icon-water {
          background-image: url("../images/case/water.svg");
        }
        i.icon-star {
          background-image: url("../images/case/star.svg");
        }
      }
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -23px;
      left: 80%;
      width: 0;
      height: 0;
      border-width: 20px 20px 0 20px;
      border-style: solid;
      border-color: #D4B7AB transparent transparent transparent;
    }
  }
  .notice:before {
    display: none;
  }
  .blog-classic {
    margin-bottom: 0;
    border: 0;
    .post_content {
      margin: 0 auto;
      width: 80%;
      border-bottom: 3px solid #eddbd7;
      * {
        max-width: 100%;
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    border-top: 3px solid #906842;
    transform: translate(-50%, 0);
  }
}

// class list
.portfolio-filter {
  font-family: "標楷體";
  li {
    margin: 0 10px;
    line-height: 1;
    a {
      margin: 0;
      font-size: 16px;
    }
    &.active {
      &:before {
        content: "[";
      }
      &:after {
        content: "]";
      }
    }
  }
}
.class_video {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, 0);
  // @media screen and (max-width: 767px) {
    width: 90%;
    text-align: center;
  // }
  iframe {
    width: 560px;
    height: 315px;
    max-width: 100%;
    max-height: 100%;
  }
}
.class_area {
  margin-top: 400px;
  padding: 50px 20px 0;
  background: #f2f2f2;
  overflow: visible;
  .class_menu_area {
    position: absolute;
    top: -380px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    &:before {
      content: "";
      position: absolute;
      top: -30px;
      left: 50%;
      width: 100px;
      border-top: 3px solid #906842;
      transform: translate(-50%, 0);
    }
  }
  .portfolio {
    h3 {
      margin-top: -70px;
      padding: 0 20px;
      font-size: 32px;
    }
    .txt_box {
      position: relative;
      background: #fff;
      border-bottom: 5px solid #8F6844;
      .number {
        position: absolute;
        top: -10px;
        left: 10px;
        padding: 3px;
        min-width: 40px;
        height: 40px;
        background: #906843;
        border: 2px solid #fff;
        border-radius: 50%;
        text-align: center;
        font: normal bold 20px/30px arial, serif;
        color: #fff;
      }
      h2 {
        padding: 10px 0;
      }
    }
  }
  @media screen and (max-width: 768px) {
    margin-top: 500px;
    // .class_menu_area {
    //   top: -400px;
    // }
  }
}

// class content
.class_content_video {
  margin: 30px 0;
  text-align: center;
  iframe {
    width: 560px;
    height: 315px;
    max-width: 100%;
    max-height: 100%;
  }
}
.class_content_area {
  .normal-tabs {
    margin: 0 30px;
    width: 100%;
  }
  ul.nav-tabs {
    display: flex;
    padding: 2px 10px;
    border: 0;
    border-top: 3px solid #BD9685;
    > li {
      flex: 1;
      background: #FDF0EC;
      text-align: center;
      &.active {
        a {
          background: #FDF0EC;
          border: 0;
          font-weight: bold;
          color: #6B625F;
        }
      }
      > a {
        background: #FDF0EC;
        border: 0;
        font-size: 16px;
        color: #B18A6E;
        &:hover,
        &:focus {
          background: #FDF0EC;
          border: 0;
          font-weight: bold;
          color: #6B625F;
        }
      }
    }
  }
  .tab-content {
    h4.class_content_tit {
      text-align: center;
      color: #fff;
      span {
        padding: 5px 30px;
        background: #C8B8AF;
      }
    }
    .class_content_desc {
      margin: 30px 0;
    }
  }
  .class_info_area {
    overflow: hidden;
    * {
      max-width: 100%;
    }
  }
  .class_product_area {
    .class_product_img {
      img {
        max-width: 100%;
      }
    }
    .class_product_txt {
      .class_product_name {
        margin: 10px 0 0;
      }
      .class_product_sub {
        margin: 0;
      }
    }
  }
  .class_product_box {
    padding-bottom: 30px;
    border-bottom: 2px solid #EEEDEE;
    + .class_product_box {
      margin-top: 30px;
    }
  }
}
.line-dot-line {
  position: relative;
  margin: 30px 0 60px;
  border-top: 1px solid #B0B0B1;
  &:before {
    content: "•";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 10px;
    background: #fff;
    line-height: .3;
    text-align: center;
    font-size: 25px;
    color: #B0B0B1;
  }
}

// categoery
.category_area {
  .product-list {
    min-height: auto;
  }
  .product-title {
    h5 {
      font-size: 18px;
      font-weight: normal;
    }
  }
  .product-price {
    font-size: 14px;
    .o_price,
    .s_price {
      + .o_price,
      + .s_price {
        margin-left: 15px;
      }
      letter-spacing: 3px;
      // > span {
      //   &:before {
      //     content: "：";
      //   }
      // }
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    border-top: 3px solid #906842;
    transform: translate(-50%, 0);
  }
}

// product
.product_area {
  .post-slider-thumb {
    .flex-control-thumbs {
      text-align: center;
      li {
        position: relative;
        margin: 0 10px;
        width: 80px;
        height: 80px;
        overflow: hidden;
        background: #E3E2E5;
        border-radius: 50%;
        list-style-type: none;
        // &:after {
        //   content: "";
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   width: 100%;
        //   height: 100%;
        //   border: 1px solid #fff;
        //   border-radius: 50%;
        // }
        &:before {
          content: "";
          position: absolute;
          top: -1px;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 30px;
          background: #fff;
        }
        &:nth-child(odd) {
          &:before {
            top: auto;
            bottom: -1px;
          }
        }
        &:nth-child(2),
        &:nth-last-child(2) {
          background: #816E55;
          img {
            bottom: 0;
          }
        }
        &:nth-child(3),
        &:nth-last-child(1) {
          background: #F8E2D5;
        }
        img {
          width: 104%;
          margin: -2%;
          border: 0;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }
  }
  .post-list-aside .post-img img {}
  .product-title {
    color: #817259;
  }
  .product_desc {
    margin-bottom: 20px;
    .tit {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 2px solid #817259;
    }
  }
  .product_spec {
    padding-left: 15px;
    list-style: none;
    li {
      margin-bottom: 5px;
      text-indent: -15px;
      &:before {
        content: "•";
        margin-right: 5px;
        font-size: 20px;
        color: #F7E5D7;
      }
    }
  }
  .product_info_area {
    margin: 20px 0;
    overflow: hidden;
    * {
      max-width: 100%;
    }
    .product-price {
      font-weight: bold;
      color: #817259;
      .o_price,
      .s_price {
        + .o_price,
        + .s_price {
          margin-left: 15px;
        }
        letter-spacing: 3px;
      }
    }
  }
  .normal-tabs {
    ul.nav-tabs {
      padding-left: 70px;
      > li > a {
        padding: 12px 30px;
        letter-spacing: 5px;
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    border-top: 3px solid #906842;
    transform: translate(-50%, 0);
  }
}

// login
.login_area {
  h1 {
    font-size: 22px;
    color: #906842;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50px;
      left: 50%;
      width: 20%;
      border-bottom: 3px solid #906842;
      transform: translate(-50%, 0);
    }
  }
}

// common
.text_overflow {
  overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	word-wrap: break-word;
	word-break: break-all;
}